<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
    <script>
        function onLoad() {
            alert('HTML loaded');
        }
    </script>
</head>
<body onload='onLoad()'>
<div>
    <div id="left_image">
        <img src='/camera/images/left'>
    </div>
    <div id="'right_image">
        <img src='/camera/images/right'>
    </div>
</div>
<div id='angles'>
    <label id="x_angle"></label> : <label  id='y_angle'></label>
</div>
</body>
</html>