<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <script src="{{ url_for('static', filename='jquery-3.6.1.min.js') }}"></script>
    <script>
        function onLoad() {
            alert('HTML loaded');
        }
    </script>
</head>
<body onload='onLoad()'>
<div>
    <div id="left_image" style="float: left;margin-left: 10px">
        <img src='/camera/images/left' height="480" width="640">
    </div>
    <div id="'right_image" style="float: right;margin-left: 10px">
        <img src='/camera/images/right' height="480" width="640">
    </div>
</div>
<div id='angles'>
    <div style="alignment: center">[<label id="x_angle"></label> , <label  id='y_angle'></label>]</div>
</div>
</body>
</html>